
/*  ////   //// ||||||||||  ///////
    // // // // ||      ||  //
    //  //   // ||||||||||  //
    //       // ||      ||  //
    //       // ||      ||  ///////

*/

*,*:before,*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
.d-inliner-flex {
    display: inline-flex;
}
.d-inline-block {
    display: inline-block;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.justify-center  {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

/* Margin */
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.ml-20 {
    margin-left: 20px;
}
.pr-20 {
    padding-right: 20px;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(45deg, rgb(125, 10, 255), rgb(3, 147, 243));
    /* background-image: url('./close-up-calendar-design.jpeg');
    background-size: cover;
    background-position: center top; */
}

/* Battery */
.macbook-battery-wrap {
    font-size: 12px;
    font-weight: 500;
}
.macbook-battery {
    width: 25px;
    height: 12px;
    border: 1px solid #333;
    border-radius: 3px;
    position: relative;
    margin-right: 5px;
}
.macbook-battery:before {
    content: '';
    width: 60%;
    height: 8px;
    background: #333;
    border-radius: 2px;
    position: absolute;
    left: 1px;
    top: 1px;
}
.macbook-battery:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 4px;
    background: #333;
    right: -4px;
    top: 50%;
    margin-top: -2px;
    border-radius: 5px;
}

.macbook-menu-bar-right {
    font-size: 14px;
}


/* WiFi */
.macbook-wifi-icon-wrap {
    width: 16px;
    height: 14px;
    position: relative;
}
.macbook-wifi-icon-wrap span:last-child {
    display: inline-block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #333;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}
.macbook-wifi-icon-wrap span:first-child,
.macbook-wifi-icon-wrap span:nth-child(2) {
    position: absolute;
    width: 15px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -4px;
    left: 0.4px;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
}
.macbook-wifi-icon-wrap span:first-child {
    bottom: 0.2px;
    width: 23px;
    left: -4px;
}



/* Control Panel Icon */
.control-panel-icon {
    position: relative;
    width: 16px;
    height: 16px;
}
.control-panel-icon span {
    width: 100%;
    height: 7px;
    border: 1px solid #333;
    border-radius: 10px;
    position: relative;
}
.control-panel-icon span:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #333;
    left: 1px;
    top: 1px;
}
.control-panel-icon span:last-child {
    background: #333;
}
.control-panel-icon span:last-child:before {
    left: auto;
    right: 1px;
    background: #fff;
}


/* Search Icon */
.macbook-search-icon {
    position: relative;
    width: 13px;
    height: 14px;
}
.macbook-search-icon:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1.5px solid #333;
    left: 0;
    top: 0;
    border-radius: 50%;
}
.macbook-search-icon:after {
    content: '';
    width: 1px;
    height: 6px;
    background: #333;
    position: absolute;
    transform-origin: bottom;
    right: 0;
    bottom: 1px;
    transform: rotate(-45deg);
}



/* Menu */
.macbook-menu-bar-wrap {
    position: relative;
    perspective: 600px;
}
.macbook-menu ul {
}
.macbook-menu .dropdown-item {
    width: 265px;
    border-radius: 4px;
    padding: 5px;
    left: 0;
    top: 100%;
    transition: all 0.5s;
    /* transform: translateY(100px); */
    opacity: 0;
    will-change: opacity;
    display: none;
    position: absolute;
}
.macbook-menu .dropdown-item li a {
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}
.macbook-menu .dropdown-item li a:hover {
    background: rgb(0, 141, 235);
    color: #fff;
}
.macbook-menu .finder-dropdown {
    width: 260px;
}
.trigger-enter .dropdown-item {
    display: block;
}
.trigger-enter-active .dropdown-item {
    opacity: 1;
}
.macbook-menu-bar-wrap .background-highlight {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translate(0px, 0px);
}
.macbook-menu-bar-wrap .background-highlight.open {
    opacity: 1;
}
.macbook-menu-bar-wrap .background-highlight:before,
.macbook-menu .dropdown-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
}
.macbook-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.macbook-menu li {
    display: block;
    position: relative;
}
.macbook-menu li a {
    font-weight: 400;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    cursor: default;
    padding: 4px 12px;
    border-radius: 4px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    display: block;
}
.macbook-menu .logo .apple-logo:hover,
.macbook-menu li a:hover {
    background: rgba(0,0,0,0.1);
}
.macbook-menu .finder-title > a {
    font-weight: 600;
    color: #333;
}
.macbook-menu .logo .apple-logo {
    padding: 4px 12px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    border-radius: 4px;
}

/* Finder Bar */
.macbook-menu-bar-wrap {
    position: relative;
    padding-left: 10px;
}
.macbook-menu-bar-wrap:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.75); 
}
